.pizzaBody {
  margin: 80px;
}
body{
  background-color: #e9c46a;
  margin: 70px;
}

#checkout, #reset {
  display: none;
}

#display , #checkout-btn, #reset {
  padding: 20px;
}

#display {
  padding: 20px;
  margin: 20px;
  width: 810px;
  border: solid #ae2012;
  border-width: 2px;
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 10px;
}

#toppingOne, #toppingTwo, #size {
  margin: 15px;
}

#title {
  text-align:  center;
}

/* ae2012 */